<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>マイページ</h2>
     <%= render 'info', customer: @customer %>
     <%= link_to '新規投稿', new_drink_path %>
    </div>
  </div>
</div>
