<div class="card bg-dark text-white">
  <img src="https://drive.google.com/uc?export=download&id=16NNDdLS6HmFDMqotE-g_D8EFugE6bYot" class="card-img">
  <div class="card-img-overlay">
    <h5 class="card-title">ドリンクの情報を共有</h5>
    <p class="card-text">事前にドリンクの情報を確認できたり、投稿をして情報を共有出来ます。</p>
    <p class="card-text">ドリンクの情報共有にご利用ください。</p>
  </div>
</div>