<!--<div id="about-body" class="text-white">-->
<!--  <div class="container">-->
<!--    <div class="about-text">-->
<!--      <h4>ドリンクの情報共有にご利用ください。</h4>-->
<!--      <h5>ドリンクのレビューを投稿できたり、コメントを書き込む事が出来ます。</h5>-->
<!--      <h5>また、興味のあるドリンクを検索して探すことが出来ます。</h5>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://img.freepik.com/free-photo/glass-bottles-of-beer-with-glass-and-ice-on-dark-background_1150-8899.jpg?w=1800&t=st=1687882918~exp=1687883518~hmac=21525ae9fcda74196e1af27c191b965b1ed574702c432c3ed78862615203eda8">
    </div>
    <div class="swiper-slide">
      <img src="https://user0514.cdnw.net/shared/img/thumb/kissaten117028_TP_V.jpg">
    </div>
    <div class="swiper-slide">
      <img src="https://user0514.cdnw.net/shared/img/thumb/unificDSC085232756_TP_V.jpg">
    </div>
    <div class="swiper-slide">
      <img src="https://girlydrop.com/wp-content/uploads/post/p3530.jpg">
    </div>
    <div class="swiper-slide">
      <img src="https://girlydrop.com/wp-content/uploads/post/p893.jpg">
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <script src="swiper.js"></script>
</div>