<div id="about-body" class="text-white">
  <div class="container">
    <div class="about-text">
      <h4>ドリンクの情報共有にご利用ください。</h4>
      <p>ドリンクのレビューを投稿できたり、コメントを書き込む事が出来ます。</p>
      <p>また、興味のあるドリンクを検索して探すことが出来ます。</p>
    </div>
  </div>
</div>
