<% if admin_signed_in?  %>
  <div class="container withdrawal">
    <div class="row">
      <div class="col">
        <h2>本当に退会させますか？</h2>
        <div class="withdrawal-text">
          <p>
            会員を退会させる場合は、<br>
            「退会させる」をクリックしてください。
          </p>
        </div>
        <div>
          <%= link_to "退会させる", withdraw_admin_customers_path(customer_id: params[:customer_id]), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
          <% end %>
          <%= link_to "戻る", edit_admin_customer_path(@customer.id), class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
  </div>