body {
  background-color: #FFBEDA;
  font-family: Georgia, serif;
  color: #4e3030;
  position: relative;
}

main {
  padding-bottom: 60px;
}

/*ボタン*/
.actions {
  margin: 10px
}

/*ドリンク*/
.card {
  background-color: #FFABCE;
}

/*コメント*/
.comments-index {
  background-color: #fff;
  border: 1px #000 solid;
}

.comment-delete {
  margin-left: auto;
}

/*フッター*/
footer{
  bottom: 0;
  width: 100%;
  margin-top: auto;
  position: fixed;
}
