body {
  background-color: #FFBEDA;
  font-family: Georgia, serif;
  color: #4e3030;
}

.main {
  margin-top: 10%;
}

/*ドリンク*/
.card {
  background-color: #FFABCE;
}

/*フッター*/
.footerFixed{
  min-height: 80vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  adding-bottom: 60px;  /* ←フッターの高さを指定 */
  box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
  /*position: absolute;*/
  /* フッターを絶対配置に指定する設定 */
  bottom: 0;           /* フッターを一番下 */
  width: 100%;
}

.field {
  margin-bottom: 10px;
}