<footer class="bg-info text-center text-lg-start">
  <div class="text-center p-3" style="background-color:#0097b2">
    © 2023 SAMPLE:
    <a class="text-dark" href="https://mdbootstrap.com/">BEVERAGE.com</a>
  </div>
</footer>